    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

    :root {
      --white: #f9f9f9;
      --green: #229395;
      --green-light: #7acbcd;
      --black: #36383F;
      --grey: #85888C;
    }
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      transition: background-color 0.5s ease;
    }
    
    header {      
      /* Gradiente lineal de arriba hacia abajo */
      background: linear-gradient(to bottom,rgba(139, 110, 61),rgba(107, 70, 19));
      color: #fff;
      text-align: center;
      padding: 4rem 0;
    }
    
    nav {
      display: flex;
      justify-content: center;
      background-color: #444;
      padding: 0.5rem 0;
    }
    
    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      transition: background-color 0.3s ease;
    }
    
    nav a:hover {
      background-color: #555;
    }
    
    .content-subtitulo {
      display: flex;  
      background-color: rgba(255, 208, 0, 0.925);
      padding: 2rem;
      width: 400px;
      height: 300px;
      margin-left: 180px;
      position: absolute;
      box-shadow: 5px 5px 10px rgba(0, 0, 0);
    }

    .subtitulo{
      margin-top: auto;
      text-align: left;      
    }

    .slideshow {
      display: flex;
      overflow: hidden;      
      max-height: 300px; /* Cambia la altura máxima del contenedor*/
      margin: 0 auto; /* Centra horizontalmente */
    }
    
    .slideshow img {
      width: 100%;
      height: auto;     
      object-fit:cover;
    }

    main {
      background-color: rgba(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh; /* Esto asegura que el main ocupe al menos el 100% de la altura de la ventana. */
    }
    
    .content {
      padding: 2rem;
      /* text-align: center; */            
      max-width: 980px; /* Ajusta el ancho máximo del contenido según tus necesidades */
      padding: 20px;
      
    }

    .subtitulos{
      font-size: 26px;
      margin: 0 0 -6px 0;
    }
    .boton-leermas{
      background: rgba(107, 70, 19);
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      color: #fff;

    }

    .content-img-inicio{
      border: solid 8px;
      height: 130px;
      width: 550px;
      overflow: hidden;
      box-shadow: 0 0 3px rgba(0,0,0,.5);
      border-color: #fff;
      margin: 16px 0 12px 0;
    }

    .ini-cont-img{
      height: 114px;
      width: 543px;      
    }

    .img-inicio{      
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      object-fit: cover;
      
    }

    .resumen{
      width: 551px;
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 1.5em;
      font-family: 'Times New Roman', Times, serif;
    }

    /* Estilos para el botón de WhatsApp */
    .whatsapp-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #25d366;
      color: #fff;
      padding: 10px 20px;
      border-radius: 50px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      text-decoration: none;
      font-weight: bold;
      z-index: 1000;      
      display: inline-block;  
    }

    .whatsapp-button:hover {
      background-color: #128C7E;
    }

    .icon-whatsapp{
      display: none;
    }

/* Estilos para el formulario de contacto */
form {
  max-width: 400px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(14, 56, 14, 0.568);
}

label {
  display: block;
  /* font-weight: bold; */
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  transition: border-bottom 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 1px solid rgba(107, 70, 19);
  outline: none;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: rgba(107, 70, 19);
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: rgb(156, 104, 31);
}

/* Estilos para el botón "Llamar Ahora" */
.boton-llamar-ahora {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(107, 70, 19);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-llamar-ahora:hover {
  background-color: rgb(156, 104, 31);
}


/* Estilos para el footer */
footer {
  /* Gradiente lineal de arriba hacia abajo */
  background: linear-gradient(to bottom,rgba(139, 110, 61),rgba(107, 70, 19));      
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}  


/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
  header {
    padding: 2rem 0; /* Reduce el espacio superior e inferior en la cabecera */
  }
  #titulo{
    font-size: 16px;
  }
  .content-subtitulo {
    width:min-content; /* Ancho automático en dispositivos móviles */
    font-size: 8px;
    max-height: 200px;
    margin-left: 20px; /* Elimina el margen lateral en dispositivos móviles */
    padding: 1rem; /* Agrega un espacio interno menor en dispositivos móviles */
  }

  .slideshow {    
    max-height: 200px; /* Reduce la altura máxima del slideshow */
  }

  .slideshow img {    
    height:200px;    
  }

  .content {
    max-width: 100%; /* Aprovecha el ancho completo en dispositivos móviles */
    padding: 10px; /* Espaciado interior reducido en dispositivos móviles */
  }

  /* Otros ajustes de estilo para dispositivos móviles */

  nav {
    flex-direction: column; /* Cambia la dirección del menú en dispositivos móviles */
    align-items: center; /* Centra los elementos del menú en dispositivos móviles */
  }

  nav a {
    margin: 0.5rem 0; /* Aumenta el espacio entre elementos del menú en dispositivos móviles */
  }

  .content-img-inicio {
    max-width: 100%; /* Aprovecha el ancho completo en dispositivos móviles */
    max-height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
  }

  .map{
    max-width: 400px;
    max-height: auto;
  }
  
  .whatsapp-button {
    font-size: 0; /* Oculta el texto al establecer el tamaño de fuente en 0 */
    padding: 0px;
  }

  .icon-whatsapp {
    display: block;
  }

  .resumen{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 100%;
  }

}


